{% extends 'base.html' %}

{% block body %}

  <div class="site text-center">
    <h1><font color="#ffffff">Peri</font><font color="#FF9F0A">Cypher</font></h1><br>
      <p>Enter your PeriCypher to convert to text</p>
      <br/>
      <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" name="convert">CONVERT</button>
      </form>
      <br/>
      <br/>
      <p><font color="#FF9F0A">Cypher</font>: {{text}}</p>
      <p><font color="#FF9F0A">Converted</font>: {{ result }}</p>
    </div>

{% endblock %}